.App {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.boardBG {
  display: block;
  position: relative;
  background-image: url(./assets/pictures/board_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
